.CntSldrSemnVr {
    width: 100%;
    height: 70vh;
    position: relative;
}

.CntSldrimg {
    width: 100%;
    height: 100%;
}

.CntSldrimg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.CntUdmnvrMnBlgPmnvr {
    position: absolute;
    width: 95%;
    max-width: 1260px;
    margin: 0 auto;
    left: 50%;
    transform: translate(-50%, 0px);
    display: flex;
    justify-content: space-between;
    bottom: 70px;
    align-items: center;
    z-index: 2;
}

.CntUdmnvrMnBlgPmnvr h1 {
    font-size: 48px;
    color: #fff;
    font-family: "CenturyGothic-Bold";
}

.CtrDrpDwnmn {
    width: 360px;
    position: relative;
}

.CtrDrpDwnmn .BlogDrpden {
    position: absolute;
    top: 45px; 
    left: 0px;
    right: 0px;
    padding: 10px;
    display: none;
    background: #fff;
    box-shadow: 1px 1px 3px #a1a1a1;
}

.CtrDrpDwnmn .BlogDrpden li a {
    display: block;
    padding: 2px 0px;
    font-size: 14px;
    color: #464646;
    font-weight: 500;
}

.CtrDrpDwnmn .Slctbx {
    width: 100%;
    position: relative;
    border-bottom: 1px solid #fff;
    padding: 10px 0px;
    cursor: pointer;

}



.CtrDrpDwnmn .Slctbx span {
    display: block;
    display: block;
    font-size: 16px;
    color: #fff;
}

.CtrDrpDwnmn .Slctbx img {
    position: absolute;
    right: 0px;
    bottom: 15px;
}

.cl4smnvrSvr {
  width: 32.7%;
  position: relative;
  display: block;
  margin-bottom: 130px;
  margin-right: 10px;
}

.cl4smnvrSvr:hover .ProslSwn:before {
  -webkit-animation: shine .75s;
          animation: shine .75s;
}

.cl4smnvrSvr:hover .ProslSwn img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.cl4smnvrSvr:hover .BlgNmeVrSwn {
  background: #1da1b8;
}

.cl4smnvrSvr:hover .BlgNmeVrSwn .SwnClmnVr .clmnvrSwnTv h4 {
  color: #fff;
}

.cl4smnvrSvr:hover .BlgNmeVrSwn .SwnClmnVr .clmnvrSwnTv p {
  color: #fff;
}

.cl4smnvrSvr:hover .BlgNmeVrSwn .SwnClmnVr .clmnvrSwnTv small {
  color: #fff;
}

.cl4smnvrSvr:hover .BlgNmeVrSwn .SwnClmnVr .ClSwrshtm h5 {
  color: #fff;
}

.cl4smnvrSvr:hover .BlgNmeVrSwn .SwnClmnVr .ClSwrshtm small {
  color: #fff;
}

.cl4smnvrSvr:hover .BlgNmeVrSwn .BtnDlSwvr a {
    color: #fff;
    opacity: 62%;
}

.cl4smnvrSvr .lnkAll {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.cl4smnvrSvr:nth-child(3n - 3) {
  margin-right: 0px;
}

.cl4smnvrSvr .ProslSwn {
  width: 100%;
  position: relative;
  line-height: 0;
  overflow: hidden;
}

.cl4smnvrSvr .ProslSwn:before {
  position: absolute;
  top: 0;
  left: -75%;
  z-index: 1;
  display: block;
  content: '';
  width: 50%;
  height: 100%;
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0.3)));
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
  -webkit-transform: skewX(-25deg);
  transform: skewX(-25deg);
}

.cl4smnvrSvr .ProslSwn img {
  width: 100%;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.cl4smnvrSvr .BlgNmeVrSwn {
  position: absolute;
  bottom: -60px;
  left: 0;
  width: 90%;
  background: #fff;
  padding: 20px;
  z-index: 1;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.cl4smnvrSvr .BlgNmeVrSwn .SwnClmnVr {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cl4smnvrSvr .BlgNmeVrSwn .SwnClmnVr .clmnvrSwnTv {
  position: relative;
}

.cl4smnvrSvr .BlgNmeVrSwn .SwnClmnVr .clmnvrSwnTv h4 {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.2;
  transition: all 1s ease;
  margin-bottom: 10px;
}

.cl4smnvrSvr .BlgNmeVrSwn .SwnClmnVr .clmnvrSwnTv p {
  font-size: 14px;
  color: #000;
  opacity: 0.6;
  font-weight: 400;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.cl4smnvrSvr .BlgNmeVrSwn .SwnClmnVr .clmnvrSwnTv small {
  font-size: 14px;
  color: #000;
  opacity: 55%;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.cl4smnvrSvr .BlgNmeVrSwn .SwnClmnVr .ClSwrshtm h5 {
  font-size: 18px;
  color: #000;
  font-weight: 600;
}

.cl4smnvrSvr .BlgNmeVrSwn .SwnClmnVr .ClSwrshtm small {
  font-size: 12px;
  color: #000;
  opacity: 48%;
  font-weight: 500;
}

.cl4smnvrSvr .BlgNmeVrSwn .BtnDlSwvr {
  margin-top: 35px;
}

.cl4smnvrSvr .BlgNmeVrSwn .BtnDlSwvr a {
  color: #5b5b5b;
  font-size: 14px;
  position: relative;
}

.cl4smnvrSvr .BlgNmeVrSwn .BtnDlSwvr a:before {
  width: 42px;
  height: 1px;
  content: '';
  position: absolute;
  right: -70px;
  background: #ababab;
  top: 10px;
}

.clProlstMnSemvr {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: left;
    padding: 50px 50px 0px;
    flex-wrap: wrap;
}
@media (max-width: 991px) {
  .CntSldrSemnVr {
    line-height: 0;
    height: auto;
  }
  

  .clProlstMnSemvr {
    padding: 40px 15px 0px;
    flex-wrap: wrap;
    justify-content: center;
  }

  .cl4smnvrSvr:nth-child(3n - 3) {
     margin-right: 10px;
  }

  .cl4smnvrSvr:nth-child(2n - 2) {
     margin-right: 0px;
  }

  .cl4smnvrSvr {
    width: 48%;
    position: relative;
    margin-bottom: 90px;
  }

  .CtrDrpDwnmn .BlogDrpden {
    top: 26px;
  }

  .CntUdmnvrMnBlgPmnvr {
    width: 90%;
    bottom: 35px;
    align-items: baseline;
  }

  .CntUdmnvrMnBlgPmnvr h1 {
    font-size: 36px;
  }

  .CtrDrpDwnmn .Slctbx img {
    width: 15px;
    bottom: 11px;
  }

  .CtrDrpDwnmn .Slctbx span {
    font-size: 16px;
    margin-bottom: 5px;
  }

}

@media (max-width: 767px) { 

  .CntUdmnvrMnBlgPmnvr {
    width: 90%;
    flex-wrap: wrap;
    align-items: baseline;
    bottom: 20px;
  }

  .cl4smnvrSvr:nth-child(3n - 3) {
    margin-right: 0px;
  }

  .cl4smnvrSvr .BlgNmeVrSwn .BtnDlSwvr  {
    margin-top: 15px;
  }

  .CntUdmnvrMnBlgPmnvr h1 {
    font-size: 24px;
    display: block;
    line-height: 1.1;
    text-align: center;
    width: 100%;
  }
  
  .CtrDrpDwnmn {
    margin-top: 10px;

  }

  .cl4smnvrSvr {
    width: 100%;
    margin-bottom: 80px;
    margin-right: 0px;
  }

  .CntSldrSemnVr {
     height: 34vh;
  }

  .cl4smnvrSvr .BlgNmeVrSwn {
    padding: 15px;
  }

}