<section>
    <div class="CntSldrSemnVr">
        <div class="CntSldrimg">
            <img src="assets/images/banner/banner.jpg" />
        </div> 
        <div class="CntUdmnvrMnBlgPmnvr">
            <h1> Blogs </h1> 
            <div class="CtrDrpDwnmn">
                 <div class="Slctbx"> <span class="DrpSlmn"> Select category  </span> <img src="assets/icon/rightar.png"></div>
                 <ul class="BlogDrpden"> 
                    <li> <a href="javascript:void(0);"> Blog1 </a> </li>
                    <li> <a href="javascript:void(0);"> Blog2 </a> </li>
                    <li> <a href="javascript:void(0);"> Blog3 </a> </li>
                    <li> <a href="javascript:void(0);"> Blog4 </a> </li>
                 </ul>
            </div>
        </div>
    </div>
</section>

<section>
   
    <div class="clProlstMnSemvr BloDlSwnVrSwn">
          
          <div class="cl4smnvrSvr"> 
               <a mat-list-item [routerLink]="['/blog-details']" class="lnkAll"></a>
                <div class="ProslSwn">
                    <img src="assets/images/treatments/img1.png">
                </div>      
                <div class="BlgNmeVrSwn">
                 <div class="SwnClmnVr">  
                  <div class="clmnvrSwnTv"> 
                    <h4>3 reasons why RISE, Gurugram is the perfect home for you </h4>
                     <p> In the recent past, Gurugram has grown from being a 
                     quiet, remote locale to a buzzing aspirational... </p>
                  </div>
                 </div> 
                 <div class="BtnDlSwvr"> <a href="#"> Details </a>  </div>
                </div>
          </div>
 
          <div class="cl4smnvrSvr"> 
             <a mat-list-item [routerLink]="['/blog-details']" class="lnkAll"></a>
                <div class="ProslSwn">
                    <img src="assets/images/treatments/img4.jpg">
                </div>      
                <div class="BlgNmeVrSwn">
                 <div class="SwnClmnVr">  
                  <div class="clmnvrSwnTv"> 
                    <h4>3 reasons why RISE, Gurugram is the perfect home for you </h4>
                     <p>  In the recent past, Gurugram has grown from being a 
                     quiet, remote locale to a buzzing aspirational... </p>
                  </div>
                 </div> 
                 <div class="BtnDlSwvr"> <a href="#"> Details </a>  </div>
                </div>
          </div>
 
 
          <div class="cl4smnvrSvr"> 
               <a mat-list-item [routerLink]="['/blog-details']" class="lnkAll"></a>
                <div class="ProslSwn">
                    <img src="assets/images/treatments/img2.jpg">
                </div>      
                <div class="BlgNmeVrSwn">
                 <div class="SwnClmnVr">  
                  <div class="clmnvrSwnTv"> 
                    <h4>3 reasons why RISE, Gurugram is the perfect home for you </h4>
                    <p> In the recent past, Gurugram has grown from being a 
                     quiet, remote locale to a buzzing aspirational... </p>
                  </div>
                 </div> 
                 <div class="BtnDlSwvr"> <a href="#"> Details </a>  </div>
                </div>
          </div>
 
           <div class="cl4smnvrSvr"> 
            <a mat-list-item [routerLink]="['/blog-details']" class="lnkAll"></a>
                <div class="ProslSwn">
                    <img src="assets/images/treatments/img3.jpg">
                </div>      
                <div class="BlgNmeVrSwn">
                 <div class="SwnClmnVr">  
                  <div class="clmnvrSwnTv"> 
                    <h4>3 reasons why RISE, Gurugram is the perfect home for you </h4>
                     <p> In the recent past, Gurugram has grown from being a 
                     quiet, remote locale to a buzzing aspirational... </p>
                  </div>
                 </div> 
                 <div class="BtnDlSwvr"> <a href="#"> Details </a>  </div>
                </div>
          </div>

          <div class="cl4smnvrSvr"> 
            <a mat-list-item [routerLink]="['/blog-details']" class="lnkAll"></a>
                <div class="ProslSwn">
                    <img src="assets/images/treatments/img4.jpg">
                </div>      
                <div class="BlgNmeVrSwn">
                 <div class="SwnClmnVr">  
                  <div class="clmnvrSwnTv"> 
                    <h4>3 reasons why RISE, Gurugram is the perfect home for you </h4>
                     <p>  In the recent past, Gurugram has grown from being a 
                     quiet, remote locale to a buzzing aspirational... </p>
                  </div>
                 </div> 
                 <div class="BtnDlSwvr"> <a href="#"> Details </a>  </div>
                </div>
          </div>

          <div class="cl4smnvrSvr"> 
            <a mat-list-item [routerLink]="['/blog-details']" class="lnkAll"></a>
                <div class="ProslSwn">
                    <img src="assets/images/treatments/img2.jpg">
                </div>      
                <div class="BlgNmeVrSwn">
                 <div class="SwnClmnVr">  
                  <div class="clmnvrSwnTv"> 
                    <h4>3 reasons why RISE, Gurugram is the perfect home for you </h4>
                    <p> In the recent past, Gurugram has grown from being a 
                     quiet, remote locale to a buzzing aspirational... </p>
                  </div>
                 </div> 
                 <div class="BtnDlSwvr"> <a href="#"> Details </a>  </div>
                </div>
          </div>
    </div>
 </section>
