<section>
    <div class="CntSldrSemnVr">
        <div class="CntSldrimg">
            <img src="assets/images/faqbanner.jpg" />
        </div> 
        <div class="CntUdmnvrMn">
            <h1> FAQ’s </h1> 
        </div>
    </div>
</section>

<section>
    <div class="faqBnreSmvr">
        
        <div class="container"> 
            <div class="Lnevrtmn"></div>
              <div class="faqBnswber">
                <div class="Rptcl12mnvr">
                     
                    <div class="WhsNtRpntmnvr">
                          <div class="HdingPlumnvr">
                             <div class="bckPlmvr"> 
                                <span class="plusmn"> </span>
                             </div>
                              <h5> What should not eat in fissure? </h5>
                          </div>
                          <div class="CntSliduvrSwn">
                              <p> Usually, most of the fissures can get cured by inculcating good habits such as:- </p> 
                              <ul>
                                  <li> Drinking adequate water and more fluids.  </li>
                                  <li> Avoid eating foods like popcorn, nuts or tortilla chips. </li>
                                  <li> Avoid food that causes constipation. </li>
                              </ul>
                          </div>
                    </div>

                    <div class="WhsNtRpntmnvr">
                        <div class="HdingPlumnvr">
                            <div class="bckPlmvr"> 
                                <span class="plusmn"> </span>
                             </div>
                            <h5> How many days of bed rest is required after piles surgery?  </h5>
                        </div>
                        <div class="CntSliduvrSwn">
                            <p> Usually, most of the fissures can get cured by inculcating good habits such as:- </p> 
                            <ul>
                                <li> Drinking adequate water and more fluids.  </li>
                                <li> Avoid eating foods like popcorn, nuts or tortilla chips. </li>
                                <li> Avoid food that causes constipation. </li>
                            </ul>
                        </div>
                  </div>

                  <div class="WhsNtRpntmnvr">
                    <div class="HdingPlumnvr">
                        <div class="bckPlmvr"> 
                            <span class="plusmn"> </span>
                         </div>
                        <h5> What precautions should be taken after piles surgery? </h5>
                    </div>
                    <div class="CntSliduvrSwn">
                        <p> Usually, most of the fissures can get cured by inculcating good habits such as:- </p> 
                        <ul>
                            <li> Drinking adequate water and more fluids.  </li>
                            <li> Avoid eating foods like popcorn, nuts or tortilla chips. </li>
                            <li> Avoid food that causes constipation. </li>
                        </ul>
                    </div>
              </div>


             <div class="WhsNtRpntmnvr">
                <div class="HdingPlumnvr">
                    <div class="bckPlmvr"> 
                        <span class="plusmn"> </span>
                     </div>
                    <h5> Is laser treatment safe for fissure?  </h5>
                </div>
                <div class="CntSliduvrSwn">
                    <p> Usually, most of the fissures can get cured by inculcating good habits such as:- </p> 
                    <ul>
                        <li> Drinking adequate water and more fluids.  </li>
                        <li> Avoid eating foods like popcorn, nuts or tortilla chips. </li>
                        <li> Avoid food that causes constipation. </li>
                    </ul>
                </div>
             </div>

             <div class="WhsNtRpntmnvr">
                <div class="HdingPlumnvr">
                    <div class="bckPlmvr"> 
                        <span class="plusmn"> </span>
                     </div>
                    <h5> Before consultation, should I undergo any special investigations? </h5>
                </div>
                <div class="CntSliduvrSwn">
                    <p> Usually, most of the fissures can get cured by inculcating good habits such as:- </p> 
                    <ul>
                        <li> Drinking adequate water and more fluids.  </li>
                        <li> Avoid eating foods like popcorn, nuts or tortilla chips. </li>
                        <li> Avoid food that causes constipation. </li>
                    </ul>
                </div>
             </div>





                </div>
              </div>
        </div>
    </div>
</section>