<section>
    <div class="CntSldrSemnVr">
        <div class="CntSldrimg">
            <img src="assets/images/contactusbanner.jpg" />
        </div> 
        <div class="CntUdmnvrMn">
            <h1> Contact us </h1> 
            <div class="Cntmnvr">
                <a href="https://api.whatsapp.com/send?phone=+919292929271&text=Hi Team , I am interested in Your Services. Could you please connect me?"> <span> <img src="assets/icon/whatsapp.png"> </span> chat Now </a> 
            </div>
        </div>
    </div>
</section>

<section>
    <div class="AdrmnSwnvrvr"> 
          <div class="container">
              <div class="cl12mnCntvrswAdrsmn">
                 <div class="cl4mnAdrmn">
                      <h5> <img src="assets/icon/location_icon.png"> Address </h5> 
                      <p> D-12/182 First Floor, Sec-8 Rohini,
                          Delhi-85 Near Rohini East Metro Station(Sai Baba Chowk) 
                          and Opposite to Metro pillar no. - 393 
                      </p>
                 </div>

                 <div class="cl4mnAdrmn">
                    <h5> <img src="assets/icon/mail_icon.png"> Write Us </h5> 
                    <p> <a href="mailto:goyalpilescentre1963@gmail.com"> goyalpilescentre1963@gmail.com </a>
                    </p>
                    <div class="MndyStrmn">
                        <div class="icntmemn">
                            <img src="assets/icon/time.png">
                        </div>
                        <p> Mon–Sat: 9:00am to 8:00pm </p> 
                        <p> Sunday : Closed </p>
                    </div>
               </div>

               <div class="cl4mnAdrmn">
                <h5> <img src="assets/icon/phone_icon.png"> Call Us </h5>
                <p> <a href="tel:+919292929271"> +91 - 9292929271 </a> </p> 
                <p> <a href="tel:+01145625725"> 011 - 45625725 </a> </p>
               </div>

              </div>   
              <div class="getDircmnvr">
                  <a href="https://goo.gl/maps/FUASdhPhmLWM1Cq86" target="_blank"> Get Directions <img src="assets/icon/icon_right.png"/>  </a>
              </div>
          </div>
    </div>
</section>

<section>
    
    <div class="BkApntMnVrSwn">
        
        <div class="BkApntSwnvr">
           <img src="assets/images/form_img.jpg" />
        </div>
        <div class="BkApnntFrmvr"> 
            <div class="MnvrSwn">
             <h4> Book an Appointment  </h4> 
             <div class="NmeSwbvr">
                 <div class="FormGrpmn">
                    <input type="text" class="formcntl" /> 
                    <label> Name </label>
                 </div>
                 <div class="FormGrpmn">
                    <input type="text" class="formcntl" />
                    <label> Mobile No. </label> 
                 </div>
             </div>  
             <div class="BookAnApnmvrSwn">
                <a href="#"> Book an appointment <img src="assets/icon/rghticon.png"/> </a>
             </div>
            </div>
        </div>

    </div>

</section>

<section>
    <div class="CntAtmn">
         
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3499.3823651414364!2d77.12263541508432!3d28.70811688238799!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390d015fdc5a2a3d%3A0x393c582d2ef0bbc0!2sGoyal%20Piles%20Care%20Centre%20-%20Best%20Centre%20For%20Piles%20%26%20Fissure%20Treatment!5e0!3m2!1sen!2sin!4v1630929482835!5m2!1sen!2sin"  style="border:0;" allowfullscreen="" loading="lazy"></iframe>

    </div>
</section>