<section>
    <div class="mainprtAbtmn">
        
        <div class="imgSecAbtmnvr"> 
            <img src="assets/images/aboutusbanner.jpg" alt="" />
        </div>

        <div class="AbtbnSwmvr">  
             
            <div class="cl12mnabtvrSwn">
                <div class="AbtbnrSwn"> 
                     <h1> About us  </h1>
                </div>
                <div class="cl4mnvrSwbabt">
                    <div class="icon"> 
                         <img src="assets/icon/patient_icon.png">
                    </div>
                    <div class="iconcntmnvr">
                       <b> 60,000 </b> 
                       <p> Happy Patients </p>
                    </div>
                </div>
                <div class="cl4mnvrSwbabt">
                    <div class="icon"> 
                         <img src="assets/icon/excellence_con.png">
                    </div>
                    <div class="iconcntmnvr">
                       <b> 30+ Years  </b> 
                       <p> of experience </p>
                    </div>
                </div>
                <div class="cl4mnvrSwbabt">
                    <div class="icon"> 
                         <img src="assets/icon/award_icon.png">
                    </div>
                    <div class="iconcntmnvr">
                       <p> Winner of Global   </p> 
                       <p> Excellence Award 2019 </p>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>

<section> 
    <div class="AbtClmnvr AbtPgemne">
        <div class="container">
            <div class="Swnvr"> 
                  <div class="Ttlemn">
                       <img src="assets/icon/logomnswn.png" />
                       <h2> Winner of Global excellence Award 2019 as best laser centre in North India </h2>
                  </div>
                  <div class="cl12SwnWnSwnAbt">
                      <div class="clswn6Abt"> 
                         <img src="assets/images/homepage_aboutimg.jpg" /> 
                         <div class="Vdeicmnvr VideObtnSec" (click)="this.myVideoFunction('https://www.youtube.com/embed/oSQvBlqogNc?autoplay=1')">
                            <img src="assets/icon/video-icon.png" alt="Vdeo Icon" />
                         </div>
                      </div>
                      <div class="clswn6Abt">
                          <p>
                            Goyal laser centre has been awarded as best laser centre in North India( Global Excellence Awards 2019 ) by Madhuri Dixit.
                            Goyal Piles Care Centre is one of the most reputed piles Centres in Delhi providing excellent treatment for piles and fissures 
                            since 1989 (Over 30 Year of Experience). Dr. Sushil Goyal has set his foot in the medical industry as one of 
                            the most respected and trusted piles doctor in Delhi.
                            We are here to provide world class treatment under the guidance of experienced doctors. Those painful days are gone forever.
                            We at our piles and fissure Centre offer specialized treatment facilities with assured success. Goyal Piles Care Centre 
                            is one of the most renowned piles and fissure treatment centre in Delhi. 
                           </p> 
                      </div>
                  </div> 
            </div>
        </div> 
        <div class="IcnFlmshwb">
             <img src="assets/images/righticon.png"/>
        </div>
    </div>
</section>

<section> 
    <div class="cl12DcmnSwn Abtpagedetails"> 
        <div class="cl4nmnvrSwn">
             <div class="PrdMnSwbCtmn">
                <h4> Dr. Sushil Goyal </h4> 
                <span> M.B.B.S., F.C.G.P  </span> 
                <small> Ex house Surgeon: Hindu Rao  Hospital, Delhi </small>
                <p> DR. Sushil Goyal has been one of the leading practitioners in the field of piles treatment for more than 20 years. He has successfully treated thousands of patients for piles, fissure and other related diseases.  </p>
                <img src="assets/images/signature.png" /> 
                <div class="ViwPromn">
                   <a href="#"> View Profile <img src="assets/icon/rghticon.png" /> </a>
                </div>
                <div class="PsmnvrSw">
                    <img src="assets/images/simg.png" /> 
                </div>
             </div>
        </div>
        <div class="cl6mnvrImg">
            <div class="ImgSwnvrDr">
                 <img src="assets/images/doctorimg.png" />
            </div> 
            <p class="exprmnmnvr"> 33 Years Experience  </p>
            <div class="Vdeicmnvr VideObtnSec" (click)="this.myVideoFunction('https://www.youtube.com/embed/YwtTv1RxgGk?autoplay=1')" >
                <img src="assets/icon/video-icon.png" alt="Vdeo Icon" />
             </div>
        </div>
    </div>
</section>

<section>
    <div class="LdrShipPgemn">
        <div class="container">
             <div class="TtlemnvrSwn">
                  <h3>Leadership Team</h3>
             </div>
             <div class="LdrtSldrmnvr">
                 
                <owl-carousel-o [options]="TeamSldrmnvr">

                    <ng-template carouselSlide>
                       <div id="teamQry1" class="cl12mnSwnslrmn teamQryBtn" (click)="tabTeamChange('teamQry1')">
                            <div class="imgtemSlr">
                               <img src="assets/images/team/team1.jpg" />
                            </div>
                            <div class="Abtcnttem">
                               <h5>Name Here</h5>
                               <p>Designation Here</p>
                            </div>
                       </div>
                    </ng-template>

                    <ng-template carouselSlide>
                        <div class="cl12mnSwnslrmn teamQryBtn" id="teamQry2" (click)="tabTeamChange('teamQry2')">
                             <div class="imgtemSlr">
                                <img src="assets/images/team/team2.jpg" />
                             </div>
                             <div class="Abtcnttem">
                                <h5>Name Here</h5>
                                <p>Designation Here</p>
                             </div>
                        </div>
                    </ng-template>

                    <ng-template carouselSlide>
                        <div class="cl12mnSwnslrmn teamQryBtn" id="teamQry3" (click)="tabTeamChange('teamQry3')">
                             <div class="imgtemSlr">
                                <img src="assets/images/team/team3.jpg" />
                             </div>
                             <div class="Abtcnttem">
                                <h5>Name Here</h5>
                                <p>Designation Here</p>
                             </div>
                        </div>
                    </ng-template>
                </owl-carousel-o>        
             </div>
        </div>
    </div>
</section>

<section>
    <div class="LtmnSwnEqumnts">
        <div class="TtlmnvrSwn">
            <h3> Latest and advanced modern-day equipment and facilities.</h3> 
            <p> We have US FDA approved devices, all practicable technology modalities and a determination to handle the disease,
                which gives the patient the security to get nothing but the quality care available. </p>
        </div> 
        <div class="cl12mnSldrmn"> 
            <div class="cntimgSemvr"> 
                 <img src="assets/images/abtusimg.jpg" />
            </div>  
            <div class="CntvrSwnSwn"> 
                 <div class="SlrcntvrSwn" > 
                    <owl-carousel-o [options]="EgumntSlider">
                        <ng-template carouselSlide>
                            <div class="cl12mnswvr">   
                                <div class="IcnvrSwn">
                                    <img src="assets/icon/tick.png" />
                                </div>
                                <div class="cntmnvrSwn">
                                <p>Diode Laser Manufacturered by Top Company of the world.</p>
                                </div>
                           </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="cl12mnswvr">   
                            <div class="IcnvrSwn">
                                <img src="assets/icon/tick.png" />
                            </div>
                            <div class="cntmnvrSwn">
                            <p>Diode Laser Manufacturered by Top Company of the world.</p>
                            </div>
                       </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="cl12mnswvr">   
                            <div class="IcnvrSwn">
                                <img src="assets/icon/tick.png" />
                            </div>
                            <div class="cntmnvrSwn">
                            <p>Diode Laser Manufacturered by Top Company of the world.</p>
                            </div>
                       </div>
                   </ng-template>
                   <ng-template carouselSlide>
                    <div class="cl12mnswvr">   
                        <div class="IcnvrSwn">
                            <img src="assets/icon/tick.png" />
                        </div>
                        <div class="cntmnvrSwn">
                        <p>Diode Laser Manufacturered by Top Company of the world.</p>
                        </div>
                   </div>
                  </ng-template>
                   </owl-carousel-o> 

                 </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="AcemntSwnvr">
        <div class="container">
            
            <div class="TtlmnvrSwn">
                <h3> Our Achievements </h3> 
                <p>Goyal laser centre has been honoured as the "best laser centre in North India"( Global Excellence Awards 2019) by Madhuri Dixit. 
                   Goyal Piles And Laser Centre is one of the most reputed piles Centres in Delhi providing excellent treatment for piles 
                   and fissures since 1989
                 </p>
            </div> 

            <div class="AcmntvrSwnMn">
                <owl-carousel-o [options]="AcevrntSemnvr">
                    <ng-template carouselSlide>
                        <div class="AcmntvrSwn">
                            <img src="assets/images/certificate.jpg">
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="AcmntvrSwn">
                            <img src="assets/images/certificate.jpg">
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="AcmntvrSwn">
                            <img src="assets/images/certificate.jpg">
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="AcmntvrSwn">
                            <img src="assets/images/certificate.jpg">
                        </div>
                    </ng-template>
                </owl-carousel-o>        
            </div>



        </div>
    </div>
</section>


    <div class="teamQry-wrapBx"  [class.active]="id === 'teamQry1'" *ngIf="id === 'teamQry1'">
        <div class="team-detail">
            <div class="popCls" (click)="ClseTeam()"><span></span></div>
            <div class="teamleft"><img src="assets/images/team/team1.jpg" /></div>
            <div class="teamright">
                <h2>Name Here</h2>
                <h3>Designation Here</h3>
                <div class="team-inner">
                    <p>
                       Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt quisquam perferendis sint architecto dolor,
                    </p>
                    <p>
                        labore at, est modi deserunt totam soluta et accusantium, quas cumque. Non repellendus laboriosam nihil nostrum.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="teamQry-wrapBx" [class.active]="id === 'teamQry2'" *ngIf="id === 'teamQry2'">
        <div class="team-detail">
            <div class="popCls" (click)="ClseTeam()"><span></span></div>
            <div class="teamleft"><img src="assets/images/team/team2.jpg" /></div>
            <div class="teamright">
                <h2>Name Here</h2>
                <h3>Designation Here</h3>
                <div class="team-inner">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt quisquam perferendis sint architecto dolor,
                     </p>
                     <p>
                         labore at, est modi deserunt totam soluta et accusantium, quas cumque. Non repellendus laboriosam nihil nostrum.
                     </p>
                </div>
            </div>
        </div>
    </div> 
    <div class="teamQry-wrapBx"  [class.active]="id === 'teamQry3'" *ngIf="id === 'teamQry3'">
        <div class="team-detail">
            <div class="popCls" (click)="ClseTeam()"><span></span></div>
            <div class="teamleft"><img src="assets/images/team/team3.jpg" /></div>
            <div class="teamright">
                <h2>Name Here</h2>
                <h3>Designation Here</h3>
                <div class="team-inner">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt quisquam perferendis sint architecto dolor,
                     </p>
                     <p>
                         labore at, est modi deserunt totam soluta et accusantium, quas cumque. Non repellendus laboriosam nihil nostrum.
                     </p>
                </div>
            </div>
        </div>
    </div>


    <div class="pop_up_vdo1" [class.ShowVideoPup]="VdeoGlyPup">
        <div class="vdo_onply1 vdo_onply_ad1">
           <div class="cls_vdo1 ClseIfrmSec" (click)="ClseVideoGly()"> <span class="PopBxClsVde"> <img src="assets/icon/close_mn.png"> </span> </div>
           <iframe id="iframe1" class="TstIfrmeSec iframecls" allow="autoplay;" src=""></iframe>
        </div>
     </div>