<section>
    <div class="SldrCnvrSwnCmnVr">
      <div class="SldrVrSwntuv">   
                <div class="SldrImgvrmn"> 
                    <div class="SldrImg">        
                        <img src="assets/images/banner/banner2.png"/>
                     </div> 
                     <div class="SldrCnt"> <h1> Piles Treatment without srugery </h1> </div>
                     <div class="cl12mnSlvrSwn"> 
                        <div class="cl2Rtmnvr"> 
                            <div class="IcnimgSwn"> 
                                  <img src="assets/icon/no-sick-people.png" />
                            </div> 
                            <p>No pain / No injection</p>
                        </div>
                        <div class="cl2Rtmnvr"> 
                            <div class="IcnimgSwn"> 
                                  <img src="assets/icon/no-injection.png" />
                            </div> 
                            <p> No anesthesia </p>
                        </div>
                
                        <div class="cl2Rtmnvr"> 
                            <div class="IcnimgSwn"> 
                                  <img src="assets/icon/no-antesia.png" />
                            </div> 
                            <p>  No cut / No Dressing</p>
                        </div>
                
                        <div class="cl2Rtmnvr"> 
                            <div class="IcnimgSwn"> 
                                  <img src="assets/icon/no-cut.png" />
                            </div> 
                            <p>   Join Duty within 10 Mins</p>
                        </div>
                        <div class="cl2Rtmnvr"> 
                            <div class="IcnimgSwn"> 
                                  <img src="assets/icon/no-addmision.png" />
                            </div> 
                            <p>   No Hospital Admission </p>
                        </div>
                    </div>
                </div>
          </div>  
      </div>
</section>

<section>
    <div class="WhtAplis">
        
        <div class="container">
               <h4> What Is Piles? </h4> 

             <div class="WhtPlmnvrSwn"> 
                   
                <div class="ImgSwnvrMn">
                    <img src="assets/images/whypliemnvr.jpg" />
                </div>
                <div class="cl6mnWhtplimvr">
                    <p>
                        Haemorrhoids/Piles or Bawasir are the different names of the same problem. Piles are engorged blood vessels in Anal area.
                        Approximately 75% of people may have Hemorrhoids / Piles at some point of time in their life. Haemorrhoids are very common in middle-aged person & females also, particularly pregnant women. 
                        If searching for a reliable treatment. Visit Goyal piles and laser centre which offers the Best Piles Treatment in Delhi.
                    </p>
                    <h6>What Are The Causes Of Piles? </h6> 
                    <ul>
                        <li> Hereditary </li> 
                        <li> Obesity </li>
                        <li> Less fluid and fiber intake in diet </li>
                        <li> Chronic constipation </li>
                        <li> Chronic diarrhea, etc. </li> 
                        <li> Heavy weight lifting </li>

                    </ul>
                </div>

             </div>

        </div>

    </div>
</section>

<section>
    <div class="TrmntVrSwnvr">
         
        <div class="container"> 
             <div class="Ttlmnvr">
                 <h3>Treatment For Piles</h3>
             </div>
             <div class="TblinUlmn">
                  <ul>
                      <li class="actmn" data-attmntr='1'> Old Conventional Treatment </li>
                      <li data-attmntr='2'> Modern Treatment </li>
                  </ul>  
             </div>
             <div class="tdmnvrSwnvr" data-trmnswn='1' style="display: block;">      
                <div class="cl12SnTbing">
                    <div class="col6mnCmln">
                        <img src="assets/images/treatments/img1.png" />
                    </div> 
                    <div class="col6mnCmln">
                        <ul>
                            <li> <b> Injection Therapy (Sclerotherapy): </b> In this method a chemical is injected into hemorrhoid to shrink it. This kind of therapy is required very experience hands. Sometimes many quacks sitting in J.J Colony etc. give injection at the site of Hemorrhoids without proper knowledge. Patient have tremendous pain during injection & lie down on bed for 15-20 days. </li>
                            <li> Hemorrhoids without proper knowledge. Patient have tremendous pain during injection & lie down on bed for 15-20 days. </li>
                            <li> Banding: The Piles doctors places an elastic band over the root of hemorrhoids but usually they slip or break. So, this technique is less in use.
                            </li>
                            <li> 
                                Cryo surgery almost outdated procedure
                            </li>
                            <li> Hemorrhoidectomy/Traditional Surgery </li>
                        </ul>

                    </div>
                </div>
             </div>

             <div class="tdmnvrSwnvr" data-trmnswn='2'>      
                <div class="cl12SnTbing">
                    <div class="col6mnCmln">
                        <img src="assets/images/treatments/img1.png" />
                    </div> 
                    <div class="col6mnCmln">
                        <ul>
                            <li> <b> Injection Therapy (Sclerotherapy): </b> In this method a chemical is injected into hemorrhoid to shrink it. This kind of therapy is required very experience hands. Sometimes many quacks sitting in J.J Colony etc. give injection at the site of Hemorrhoids without proper knowledge. Patient have tremendous pain during injection & lie down on bed for 15-20 days. </li>
                            <li> Hemorrhoids without proper knowledge. Patient have tremendous pain during injection & lie down on bed for 15-20 days. </li>
                            <li> Banding: The Piles doctors places an elastic band over the root of hemorrhoids but usually they slip or break. So, this technique is less in use.
                            </li>
                            <li> 
                                Cryo surgery almost outdated procedure
                            </li>
                            <li> Hemorrhoidectomy/Traditional Surgery </li>
                        </ul>
                    </div>
                </div>
             </div>

        </div>

    </div>
</section>

<section>
    <div class="RctLgerAndTrmnet">
        <div class="container"> 
          <h4> IRC and Laser Treatment  </h4>
         <div class="cla12mndwevrTrt">
            <div class="cl6mnTrtmnvr">
               <div class="Hdimgvrhdmn">
                 <h5> IRC (Without surgery) </h5>	
               </div> 
               <div class="Hdimgvr">
                   <p>Being a non surgical, painless and an OPD procedure it is most preferred treatment by the patients. This product has changed the way of hemorrhoids are treated through out the world.	</p>
               </div>
               <div class="Hdimgvr">
                    <p> No pain, No bed rest  </p>
               </div>

               <div class="Hdimgvr">
                  <p> Join duty immediately </p>
             </div>

             <div class="Hdimgvr">
              <p> By Lumatec World Class Technology (Made in Germany)	</p>
           </div>

            </div>

            <div class="cl6mnTrtmnvr">
              <div class="Hdimgvrhdmn">
                <h5> IRC (Without surgery) </h5>	
              </div> 
              <div class="Hdimgvr">
                  <p>Being a non surgical, painless and an OPD procedure it is most preferred treatment by the patients. This product has changed the way of hemorrhoids are treated through out the world.	</p>
              </div>
              <div class="Hdimgvr">
                   <p> No pain, No bed rest  </p>
              </div>
              <div class="Hdimgvr">
                 <p> Join duty immediately </p>
            </div>
            <div class="Hdimgvr">
             <p> By Lumatec World Class Technology (Made in Germany)	</p>
          </div>
           </div>
          </div>
         </div>
     </div>
</section>


<section>     
    <div class="hdrngMnSwn">
        <div class="TtlemnSwn">
            <h4>IRC (Infrared Coagulation) </h4> 
        </div> 
        <div class="Sldrcmnblg">
            <owl-carousel-o [options]="TrMnSldrMnvr">
                <ng-template carouselSlide>
                    <div class="SldrmnBlg">
                        <div class="SldimgSwnVtr">
                            <img  src='assets/images/irc1.jpg'>
                        </div>
                        <div class="sldrcntmnSwn">
                            <h3>What Is IRC Treatment? </h3>
                          <p>  IRC is non surgical, non -invasive painless and an OPD procedure for the treatment of piles / hemmorhoids This product has changed the way of hemmorhoids are treated throughout the world .
                            IRC is now the most widely used office instrument for the treatment of hemmorrhoids. </p>
                        </div>
                    </div>
                 </ng-template>

                 <ng-template carouselSlide>
                    <div class="SldrmnBlg">
                        <div class="SldimgSwnVtr">
                            <img  src='assets/images/irc2.jpg'>
                        </div>
                        <div class="sldrcntmnSwn">
                            <h3>How IRC Works? </h3>
                            <p>  IRC is non surgical, non -invasive painless and an OPD procedure for the treatment of piles / hemmorhoids This product has changed the way of hemmorhoids are treated throughout the world .
                                IRC is now the most widely used office instrument for the treatment of hemmorrhoids. </p>
                        </div>
                    </div>
                 </ng-template>

                 <ng-template carouselSlide>
                    <div class="SldrmnBlg">
                        <div class="SldimgSwnVtr">
                            <img  src='assets/images/irc1.jpg'>
                        </div>
                        <div class="sldrcntmnSwn">
                            <h3>How is IRC Done?</h3>
                            <p>  IRC is non surgical, non -invasive painless and an OPD procedure for the treatment of piles / hemmorhoids This product has changed the way of hemmorhoids are treated throughout the world .
                                IRC is now the most widely used office instrument for the treatment of hemmorrhoids. </p>
                        </div>
                    </div>
                 </ng-template>

                 <ng-template carouselSlide>
                    <div class="SldrmnBlg">
                        <div class="SldimgSwnVtr">
                            <img  src='assets/images/irc2.jpg'>
                        </div>
                        <div class="sldrcntmnSwn">
                            <h3>Is IRC Painful? </h3>
                            <p>  IRC is non surgical, non -invasive painless and an OPD procedure for the treatment of piles / hemmorhoids This product has changed the way of hemmorhoids are treated throughout the world .
                                IRC is now the most widely used office instrument for the treatment of hemmorrhoids. </p>
                        </div>
                    </div>
                 </ng-template>

                 <ng-template carouselSlide>
                    <div class="SldrmnBlg">
                        <div class="SldimgSwnVtr">
                            <img  src='assets/images/irc1.jpg'>
                        </div>
                        <div class="sldrcntmnSwn">
                            <h3>How Many Visits Are Required? </h3>
                            <p> IRC is non surgical, non -invasive painless and an OPD procedure for the treatment of piles / hemmorhoids This product has changed the way of hemmorhoids are treated throughout the world .
                                IRC is now the most widely used office instrument for the treatment of hemmorrhoids. </p>
                        </div>
                    </div>
                 </ng-template>

            </owl-carousel-o>        
        </div>
    </div>
</section>


<section>
    <div class="BcImgSwnvrMnvr">
        <div class="cl12mnswvrTrmntvt">
            <img src="assets/images/bckmntret.jpg">
        </div>
        <div class="clmnfrMnVrTrmnt">
             
            <h5> Laser Treatment Of Piles </h5>
            <p> With the advancement in science and technology piles can be treated easily through laser. Laser surgery or laser therapy is a day care procedure that offer several advantages over traditional surgery.Now a days more and more patients are bow opting for laser treatment of piles.  </p>
            <p> Laser surgery is less invasive, no need to cut the tissue. Hemorrhoids are simply treated with laser energy in a precise and focused manner and the problem is solved with a procedure of few minutes. Patient can resume his normal life within 1-2 days. The patient can be discharged on the same day. There is no cut, stitches, no wounds, or no dressings. There are no post-operative pain and no blood loss during laser surgery. The Anal Sphincter is a well-preserved chance of incontinence faecal leak is near to zero. No need for general anaesthesia. Local or spinal anaesthesia is applicable for laser surgery. </p>
        </div>
    </div>
</section>

<section>
    <div class="WhyPinMnSwn">
        <div class="container">
            <div class="TtlmnSwn">
                 <h4> Why Painless Laser Treatment? </h4>
                 <p>
                    If you are planning to undergo the pile’s treatment. Then, it is necessary to consider the Best Hospital for Piles/Hemorrhoids. Goyal Piles and laser centre is a renowned centre known for providing the best laser treatment. It is equipped with hi-tech features and modern facilities that enables hassle-free treatment. Also, the centre has the best piles surgeon who is well-qualified and experienced in providing precise laser therapy.
                 </p>

            </div> 
       
          <div class="Cl12mnSwntrmn">
            <div class="clWhySwnvr">
                <div class="whyplcl2">
                    <img src="assets/icon/treaticon/time.png" />
                </div>
                <p> 30 min procedure </p>
            </div>

            <div class="clWhySwnvr">
                <div class="whyplcl2">
                    <img src="assets/icon/treaticon/24-hour-service.png" />
                </div>
                <p> Patient discharge on same day / after 24 hours </p>
            </div>

            <div class="clWhySwnvr">
                <div class="whyplcl2">
                    <img src="assets/icon/treaticon/time.png" />
                </div>
                <p> Join duty within 
                    48 hours </p>
            </div>

            <div class="clWhySwnvr">
                <div class="whyplcl2">
                    <img src="assets/icon/treaticon/fda.png" />
                </div>
                <p> US FDA
                    Approved </p>
            </div>

            <div class="clWhySwnvr">
                <div class="whyplcl2">
                    <img src="assets/icon/treaticon/bill.png" />
                </div>
                <p> Insurance 
                    Approved </p>
            </div>
            </div> 

            <div class="WhtPlmvrSwn">
                    <div class="cl4mnvrSn">
                        <div class="HrMnVr"> Difference </div>
                        <div class="Rptmnvr"> Pain  </div>
                        <div class="Rptmnvr"> Bed rest	  </div>
                        <div class="Rptmnvr"> Blood loss	  </div>
                        <div class="Rptmnvr"> Anaesthesia	  </div>
                        <div class="Rptmnvr"> Hospital stay	</div>
                    </div>
                    <div class="cl4mnvrSn">
                        <div class="HrMnVr"> IRC </div>
                        <div class="Rptmnvr"> Pain  </div>
                        <div class="Rptmnvr"> Bed rest	  </div>
                        <div class="Rptmnvr"> Blood loss	  </div>
                        <div class="Rptmnvr"> Anaesthesia	  </div>
                        <div class="Rptmnvr"> Hospital stay	</div>
                   </div>
                    <div class="cl4mnvrSn">
                        <div class="HrMnVr"> Difference </div>
                        <div class="Rptmnvr"> Pain  </div>
                        <div class="Rptmnvr"> Bed rest	  </div>
                        <div class="Rptmnvr"> Blood loss	  </div>
                        <div class="Rptmnvr"> Anaesthesia	  </div>
                        <div class="Rptmnvr"> Hospital stay	</div>
                  </div>
                  <div class="cl4mnvrSn">
                    <div class="HrMnVr"> Difference </div>
                    <div class="Rptmnvr"> Pain  </div>
                    <div class="Rptmnvr"> Bed rest	  </div>
                    <div class="Rptmnvr"> Blood loss	  </div>
                    <div class="Rptmnvr"> Anaesthesia	  </div>
                    <div class="Rptmnvr"> Hospital stay	</div>
                 </div>

            </div>

        </div>
    </div>
</section>

<section>
    <div class="WhAtAretheSymnfPls">
        <div class="container">
            <div class="PlsSymblofvnt">
                 <h5> What Are The Symptoms & Signs of piles ? </h5>
                 <p> In general, haemorrhoids are not serious and go away on their own. Although its symptoms are as following: </p>
                 <ul>
                     <li> <b> Bleeding:-  </b> Patient complaints of having bleeding at the time of defecations (while passing the stool). Usually bleeding is painless but sometimes patient may be having severe pain also with or without bleeding. </li> 
                     <li> <b> Swelling around Anus:- </b> Initially swelling go back immediately after passing the stool but as disease progress swelling may persist for few minutes to hours. You have to push back with your finger or swelling reduces when sit on bed or hard surface for some time.</li>
                     <li> Pain during passing stool </li> 
                     <li> Itching around the anus </li>
                     <li> Mucus discharge </li> 
                     <li> Feeling of full bowels even after passing stoo </li> 
                 </ul>
            </div>
            <div class="RghtimgSwn">
                <img src="assets/images/blgdlpage.png">
            </div>
        </div>
    </div>
</section>

<section>
    <div class="HwmnTypeOfPlemn">
        <div class="container"> 
             <h4>  How Many Types Of Piles Are There ? </h4>
            <div class="HwMnyTlmvr"> 
                <div class="cl6mnTlmVrmny">
                    <img src="assets/images/treatmentspiles1.jpg" /> 
                    <h5> Internal Hemorroids </h5>
                    <p>  Such type of hemorrhoids are present in Anal Canal only. It cannot be seen without proctoscopy. </p>
                </div>
                <div class="cl6mnTlmVrmny">
                    <img src="assets/images/treatmentspiles1.jpg" />
                    <h5> External Hemorroids </h5>
                    <p> These visible around Anus. You can see swelling around Anus with naked eyes. </p>
                </div>
            </div>

        </div>
    </div>
</section>

<section> 
   
    <div class="BckcnPileDigoned">
        <div class="HwCnImgBck">
            <img src="assets/images/backimgswnvr.jpg">
        </div>
        <div class="PsbMnSwnvr">
           <h4> How Piles Can Be Diagnosed? </h4> 
           <p> External Hemorrhoids are easily diagnosed by physical examination of anal region. Internal Hemorrhoids are diagnosed by Proctoscopy. Proctoscopy is done with a special instrument called Proctoscope. You can see your hemorrhoids/piles on the screen during proctoscopy.By proctoscopy doctor will be able to make diagnose whether you are suffering from piles or not. Sometimes other disease like Ulcer, 
               Polyps or even in Cancer Rectum, patient have bleeding while passing stool.
               proctoscopy should be performed with upmost care to confirm the diagnosis. 
               If living in Delhi, At Goyal piles and laser centre you can get an efficient diagnosis and Piles Laser Treatment in Delhi.  </p>
        </div>
    </div>
</section>

<!-- <section>
    <div class="ImgbcSwn">
         <img src="assets/images/allimg.jpg" />
    </div>
</section> -->

<section>
    
    <div class="CusmnvrSwn">
         <h5> What Causes Piles </h5>
        <div class="container">
            <owl-carousel-o [options]="WhyCausPilemn">
                <ng-template carouselSlide>
                    <div class="cl12mnSwbcvr">
                    <div class="clmnGyMn">
                    <img src="assets/images/treatments/img1.png" />
                    </div>
                    <div class="CntSlmshw">
                    <p> Too Much Effort During bowel movement  </p>
                    </div>
                    </div>
            </ng-template>
                    <ng-template carouselSlide>
                        <div class="cl12mnSwbcvr">
                        <div class="clmnGyMn">
                        <img src="assets/images/treatments/img2.jpg" />
                        </div>
                        <div class="CntSlmshw">
                        <p> Too Much Effort During bowel movement  </p>
                        </div>
                        </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="cl12mnSwbcvr">
                    <div class="clmnGyMn">
                    <img src="assets/images/treatments/img3.jpg" />
                    </div>
                    <div class="CntSlmshw">
                    <p> Too Much Effort During bowel movement  </p>
                    </div>
                    </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="cl12mnSwbcvr">
                <div class="clmnGyMn">
                <img src="assets/images/treatments/img4.jpg" />
                </div>
                <div class="CntSlmshw">
                <p> Too Much Effort During bowel movement  </p>
                </div>
                </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="cl12mnSwbcvr">
            <div class="clmnGyMn">
            <img src="assets/images/treatments/img1.png" />
            </div>
            <div class="CntSlmshw">
            <p> Too Much Effort During bowel movement  </p>
            </div>
            </div>
        </ng-template>
            </owl-carousel-o>


        </div>

    </div>

</section>

<section>
    
    <div class="CusmnvrSwn">
         <h5> What are the Signs Symptoms of Piles ?  </h5>
        <div class="container">
            <owl-carousel-o [options]="WhyCausPilemn">
                <ng-template carouselSlide>
                    <div class="cl12mnSwbcvr">
                    <div class="clmnGyMn">
                    <img src="assets/images/treatments/img1.png" />
                    </div>
                    <div class="CntSlmshw">
                    <p> Excessive  </p>
                    </div>
                    </div>
            </ng-template>
                    <ng-template carouselSlide>
                        <div class="cl12mnSwbcvr">
                        <div class="clmnGyMn">
                        <img src="assets/images/treatments/img2.jpg" />
                        </div>
                        <div class="CntSlmshw">
                            <p> Excessive  </p>
                        </div>
                        </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="cl12mnSwbcvr">
                    <div class="clmnGyMn">
                    <img src="assets/images/treatments/img3.jpg" />
                    </div>
                    <div class="CntSlmshw">
                        <p> Excessive  </p>
                    </div>
                    </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="cl12mnSwbcvr">
                <div class="clmnGyMn">
                <img src="assets/images/treatments/img4.jpg" />
                </div>
                <div class="CntSlmshw">
                    <p> Excessive  </p>
                </div>
                </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="cl12mnSwbcvr">
            <div class="clmnGyMn">
            <img src="assets/images/treatments/img1.png" />
            </div>
            <div class="CntSlmshw">
                <p> Excessive  </p>
            </div>
            </div>
        </ng-template>
            </owl-carousel-o>


        </div>

    </div>

</section>

<section>     
    <div class="hdrngMnSwn TrdlgemnSwn">
        <div class="container">
        <div class="TtlemnSwn">
            <h4> More Treatments </h4> 
        </div> 
        <div class="Sldrcmnblg">
            <owl-carousel-o [options]="TrSldrmnVrSwmvr">
                <ng-template carouselSlide>
                    <div class="SldrmnBlg">
                        <div class="SldimgSwnVtr">
                            <img  src='assets/images/treatments/img2.jpg'>
                        </div>
                        <div class="sldrcntmnSwn">
                            <h3>Piles  </h3>
                          <p>  Haemorrhoids/Piles or Bawasir are the different names of the same problem. Piles are engorged blood vessels in Anal area. women. </p>
                        </div>
                    </div>
                 </ng-template>

                 <ng-template carouselSlide>
                    <div class="SldrmnBlg">
                        <div class="SldimgSwnVtr">
                            <img  src='assets/images/treatments/img3.jpg'>
                        </div>
                        <div class="sldrcntmnSwn">
                            <h3> Anal Fissure </h3>
                            <p>  Anal fistula is an uncommon condition is a communication or tunnel between the anal canal and the outer skin of the anal. It often drains pus. </p>
                        </div>
                    </div>
                 </ng-template>

                 <ng-template carouselSlide>
                    <div class="SldrmnBlg">
                        <div class="SldimgSwnVtr">
                            <img  src='assets/images/treatments/img4.jpg'>
                        </div>
                        <div class="sldrcntmnSwn">
                            <h3>Anal Fistula </h3>
                            <p>  An anal fissure (fissure in ano) is a small cut or tear in the skin or mucosal lining of anal passage or at the opening of anus. Fissure causes severe pain or  </p>
                        </div>
                    </div>
                 </ng-template>

                 <ng-template carouselSlide>
                    <div class="SldrmnBlg">
                        <div class="SldimgSwnVtr">
                            <img  src='assets/images/treatments/img4.jpg'>
                        </div>
                        <div class="sldrcntmnSwn">
                            <h3>Anal Fistula </h3>
                            <p>  An anal fissure (fissure in ano) is a small cut or tear in the skin or mucosal lining of anal passage or at the opening of anus. Fissure causes severe pain or  </p>
                        </div>
                    </div>
                 </ng-template>

            </owl-carousel-o>        
        </div>
       </div>
    </div>
</section>