<section>
    <div class="SldrCnvrSwnCmnVr">
        <div class="SldrVrSwntuv">   
         <div class="SldrImgvrmn"> 
           <div class="SldrImg">        
              <img src="assets/images/banner/banner.jpg"/>
            </div> 
            <div class="SldrCnt"> <h1> Laser Treatments without srugery </h1> </div>
         </div>
      </div>  
      <div class="cl12mnSlvrSwn"> 
          <div class="cl2Rtmnvr"> 
              <div class="IcnimgSwn"> 
                    <img src="assets/icon/no-sick-people.png" />
              </div> 
              <p>No pain</p>
          </div>
          <div class="cl2Rtmnvr"> 
              <div class="IcnimgSwn"> 
                    <img src="assets/icon/no-injection.png" />
              </div> 
              <p> No injection </p>
          </div>
  
          <div class="cl2Rtmnvr"> 
              <div class="IcnimgSwn"> 
                    <img src="assets/icon/no-antesia.png" />
              </div> 
              <p>  No anesthesia </p>
          </div>
  
          <div class="cl2Rtmnvr"> 
              <div class="IcnimgSwn"> 
                    <img src="assets/icon/no-cut.png" />
              </div> 
              <p>   No cut </p>
          </div>
          <div class="cl2Rtmnvr"> 
              <div class="IcnimgSwn"> 
                    <img src="assets/icon/no-addmision.png" />
              </div> 
              <p>   No Hospital Admission </p>
          </div>
      </div>
  </div>
</section>

<section>
    <div class="LstingTrmnt">
          
        <div class="Lstrpsemnvr">
            <div class="ImgIcnps"> <img src="assets/images/righticon.png">  </div>
            <div class="container">
               <div class="cl12cntmnvr">
                   <div class="cl6mntrt">
                       <img src="assets/images/treatments/img1.png" >
                   </div>
                   <div class="TrmctsOptnvr"> 
                    <div class="TtleTrmnt">  
                        <h4> Haemorrhoids/Piles  </h4> 
                        <small> Painless laser treatment for piles </small>
                        <span class="Lnmemcmn"></span>
                    </div>  
                    <div class="CntWthVr"> 
                     <p>
                        Haemorrhoids/Piles or Bawasir are the different names of the same problem.
                        Piles are engorged blood vessels in Anal area.
                        Approximately 75% of people may have Hemorrhoids / 
                        Piles at some point of time in their life. Haemorrhoids are very common in middle-aged person & females also, 
                        particularly pregnant women.  If searching for a reliable treatment. Visit Goyal piles and laser centre which offers the Best Piles Treatment in Delhi.
                    </p>
                  </div>
                    <div class="SringOptrnmtOptin">
                        <div class="cl3Rptm">
                              <p> <a mat-list-item [routerLink]="['/treatments-details']" routerLinkActive="active"> Treatment for piles <img src="assets/icon/icon_right.png"> </a> </p>
                        </div>
                        <div class="cl3Rptm">
                            <p class="qickEnqvr QuiKeQy QuickEngr"> <a href="javascript:void(0);"> Quick inquiry </a> </p>
                        </div>
                        <div class="cl3Rptm">
                            <p class="qickEnqvr"> <a href="https://api.whatsapp.com/send?phone=919292929271&amp;text=Hi Team Goyal Piles Care Centre, I'm interested in Your Product. Could you please connect me?" target="_blank"> <img src="assets/icon/whatsapp-icon.png"> WHATSAPP CHAT </a>  </p>
                        </div>
                    </div>
                   </div>
               </div>
            </div>
        </div>

        <div class="Lstrpsemnvr">
            <div class="ImgIcnps"> <img src="assets/images/righticon.png">  </div>
            <div class="container">
               <div class="cl12cntmnvr">
                   <div class="cl6mntrt">
                       <img src="assets/images/treatments/img2.jpg" >
                   </div>
                   <div class="TrmctsOptnvr"> 
                    <div class="TtleTrmnt">  
                        <h4> Haemorrhoids/Piles  </h4> 
                        <small> Painless laser treatment for piles </small>
                        <span class="Lnmemcmn"></span>
                    </div>  
                    <div class="CntWthVr"> 
                     <p>
                        Haemorrhoids/Piles or Bawasir are the different names of the same problem.
                        Piles are engorged blood vessels in Anal area.
                        Approximately 75% of people may have Hemorrhoids / 
                        Piles at some point of time in their life. Haemorrhoids are very common in middle-aged person & females also, 
                        particularly pregnant women.  If searching for a reliable treatment. Visit Goyal piles and laser centre which offers the Best Piles Treatment in Delhi.
                    </p>
                  </div>
                   <div class="SringOptrnmtOptin">
                        <div class="cl3Rptm">
                              <p> <a mat-list-item [routerLink]="['/treatments-details']" routerLinkActive="active"> Treatment for piles <img src="assets/icon/icon_right.png"> </a> </p>
                        </div>
                        <div class="cl3Rptm">
                            <p class="qickEnqvr QuiKeQy QuickEngr"> <a href="javascript:void(0);"> Quick inquiry </a> </p>
                        </div>
                        <div class="cl3Rptm">
                            <p class="qickEnqvr"> <a href="https://api.whatsapp.com/send?phone=919292929271&amp;text=Hi Team Goyal Piles Care Centre, I'm interested in Your Product. Could you please connect me?" target="_blank"> <img src="assets/icon/whatsapp-icon.png"> WHATSAPP CHAT </a>  </p>
                        </div>
                    </div>
                   </div>
               </div>
            </div>
        </div>

        <div class="Lstrpsemnvr">
            <div class="ImgIcnps"> <img src="assets/images/righticon.png">  </div>
            <div class="container">
               <div class="cl12cntmnvr">
                   <div class="cl6mntrt">
                       <img src="assets/images/treatments/img3.jpg" >
                   </div>
                   <div class="TrmctsOptnvr"> 
                    <div class="TtleTrmnt">  
                        <h4> Haemorrhoids/Piles  </h4> 
                        <small> Painless laser treatment for piles </small>
                        <span class="Lnmemcmn"></span>
                    </div>  
                    <div class="CntWthVr"> 
                     <p>
                        Haemorrhoids/Piles or Bawasir are the different names of the same problem.
                        Piles are engorged blood vessels in Anal area.
                        Approximately 75% of people may have Hemorrhoids / 
                        Piles at some point of time in their life. Haemorrhoids are very common in middle-aged person & females also, 
                        particularly pregnant women.  If searching for a reliable treatment. Visit Goyal piles and laser centre which offers the Best Piles Treatment in Delhi.
                    </p>
                  </div>
                    <div class="SringOptrnmtOptin">
                        <div class="cl3Rptm">
                              <p> <a mat-list-item [routerLink]="['/treatments-details']" routerLinkActive="active"> Treatment for piles <img src="assets/icon/icon_right.png"> </a> </p>
                        </div>
                        <div class="cl3Rptm">
                            <p class="qickEnqvr QuiKeQy QuickEngr"> <a href="javascript:void(0);"> Quick inquiry </a> </p>
                        </div>
                        <div class="cl3Rptm">
                            <p class="qickEnqvr"> <a href="https://api.whatsapp.com/send?phone=919292929271&amp;text=Hi Team Goyal Piles Care Centre, I'm interested in Your Product. Could you please connect me?" target="_blank"> <img src="assets/icon/whatsapp-icon.png"> WHATSAPP CHAT </a>  </p>
                        </div>
                    </div>
                   </div>
               </div>
            </div>
        </div>

        <div class="Lstrpsemnvr">
            <div class="ImgIcnps"> <img src="assets/images/righticon.png">  </div>
            <div class="container">
               <div class="cl12cntmnvr">
                   <div class="cl6mntrt">
                       <img src="assets/images/treatments/img4.jpg" >
                   </div>
                   <div class="TrmctsOptnvr"> 
                    <div class="TtleTrmnt">  
                        <h4> Haemorrhoids/Piles  </h4> 
                        <small> Painless laser treatment for piles </small>
                        <span class="Lnmemcmn"></span>
                    </div>  
                    <div class="CntWthVr"> 
                     <p>
                        Haemorrhoids/Piles or Bawasir are the different names of the same problem.
                        Piles are engorged blood vessels in Anal area.
                        Approximately 75% of people may have Hemorrhoids / 
                        Piles at some point of time in their life. Haemorrhoids are very common in middle-aged person & females also, 
                        particularly pregnant women.  If searching for a reliable treatment. Visit Goyal piles and laser centre which offers the Best Piles Treatment in Delhi.
                    </p>
                  </div>
                    <div class="SringOptrnmtOptin">
                        <div class="cl3Rptm">
                              <p> <a mat-list-item [routerLink]="['/treatments-details']" routerLinkActive="active"> Treatment for piles <img src="assets/icon/icon_right.png"> </a> </p>
                        </div>
                        <div class="cl3Rptm">
                            <p class="qickEnqvr QuiKeQy QuickEngr"> <a href="javascript:void(0);"> Quick inquiry </a> </p>
                        </div>
                        <div class="cl3Rptm">
                            <p class="qickEnqvr"> <a href="https://api.whatsapp.com/send?phone=919292929271&amp;text=Hi Team Goyal Piles Care Centre, I'm interested in Your Product. Could you please connect me?" target="_blank"> <img src="assets/icon/whatsapp-icon.png"> WHATSAPP CHAT </a>  </p>
                        </div>
                    </div>
                   </div>
               </div>
            </div>
        </div>

        <div class="Lstrpsemnvr">
            <div class="ImgIcnps"> <img src="assets/images/righticon.png">  </div>
            <div class="container">
               <div class="cl12cntmnvr">
                   <div class="cl6mntrt">
                       <img src="assets/images/secndSrveimg.png" >
                   </div>
                   <div class="TrmctsOptnvr"> 
                    <div class="TtleTrmnt">  
                        <h4> Cosmetology   </h4> 
                    </div>  
                    <div class="CntWthVr"> 
                     <p>
                        Haemorrhoids/Piles or Bawasir are the different names of the same problem. Piles are engorged blood vessels in Anal area.
                        Approximately 75% of people may have Hemorrhoids / Piles at some point of time in their life.
                        Haemorrhoids are very common in middle-aged person & females also, particularly pregnant women.
                    </p>
                  </div>
                    <div class="SringOptrnmtOptin">
                        <div class="cl3Rptm">
                              <p> <a mat-list-item [routerLink]="['/treatments-details']" routerLinkActive="active"> Treatment for piles <img src="assets/icon/icon_right.png"> </a> </p>
                        </div>
                        <div class="cl3Rptm">
                            <p class="qickEnqvr QuiKeQy QuickEngr"> <a href="javascript:void(0);"> Quick inquiry </a> </p>
                        </div>
                        <div class="cl3Rptm">
                            <p class="qickEnqvr"> <a href="https://api.whatsapp.com/send?phone=919292929271&amp;text=Hi Team Goyal Piles Care Centre, I'm interested in Your Product. Could you please connect me?" target="_blank"> <img src="assets/icon/whatsapp-icon.png"> WHATSAPP CHAT </a>  </p>
                        </div>
                    </div>
                   </div>
               </div>
            </div>
        </div>


    </div>
</section>