<section>
  <div class="SldrCnvrSwnCmnVr">
      <div class="SldrVrSwntuv">   
        <owl-carousel-o [options]="MainSliderHomePage">
            <ng-template carouselSlide>
                <div class="SldrImgvrmn"> 
                    <div class="SldrImg">        
                        <img src="assets/images/banner/banner2.png"/>
                     </div> 
                     <div class="SldrCnt"> <h1> Piles Treatment without srugery </h1> </div>
                     <div class="cl12mnSlvrSwn"> 
                        <div class="cl2Rtmnvr"> 
                            <div class="IcnimgSwn"> 
                                  <img src="assets/icon/no-sick-people.png" />
                            </div> 
                            <p>No pain / No injection</p>
                        </div>
                        <div class="cl2Rtmnvr"> 
                            <div class="IcnimgSwn"> 
                                  <img src="assets/icon/no-injection.png" />
                            </div> 
                            <p> No anesthesia </p>
                        </div>
                
                        <div class="cl2Rtmnvr"> 
                            <div class="IcnimgSwn"> 
                                  <img src="assets/icon/no-antesia.png" />
                            </div> 
                            <p>  No cut / No Dressing</p>
                        </div>
                
                        <div class="cl2Rtmnvr"> 
                            <div class="IcnimgSwn"> 
                                  <img src="assets/icon/no-cut.png" />
                            </div> 
                            <p>   Join Duty within 10 Mins</p>
                        </div>
                        <div class="cl2Rtmnvr"> 
                            <div class="IcnimgSwn"> 
                                  <img src="assets/icon/no-addmision.png" />
                            </div> 
                            <p>   No Hospital Admission </p>
                        </div>
                    </div>
                </div>
            </ng-template>  
            <ng-template carouselSlide> 
               <div class="SldrImgvrmn"> 
                 <div class="SldrImg">        
                    <img src="assets/images/banner/banner1.jpg"/>
                  </div> 
                  <div class="SldrCnt"> <h1> Advanced Piles Laser Treatment  </h1> </div>

                  <div class="cl12mnSlvrSwn"> 
                    <div class="cl2Rtmnvr"> 
                        <div class="IcnimgSwn"> 
                              <img src="assets/icon/iconshare/20min.png" />
                        </div> 
                        <p>20 Mins Procedure </p>
                    </div>
                    <div class="cl2Rtmnvr"> 
                        <div class="IcnimgSwn"> 
                              <img src="assets/icon/no-injection.png" />
                        </div> 
                        <p> No Cut | No Blood Loss </p>
                    </div>
            
                    <div class="cl2Rtmnvr"> 
                        <div class="IcnimgSwn"> 
                              <img src="assets/icon/iconshare/medical_clam.png" />
                        </div> 
                        <p>  Mediclaim Facility Available </p>
                    </div>
            
                    <div class="cl2Rtmnvr"> 
                        <div class="IcnimgSwn"> 
                              <img src="assets/icon/iconshare/doctore.png" />
                        </div> 
                        <p>   Highly Experienced Doctors</p>
                    </div>
                    <div class="cl2Rtmnvr"> 
                        <div class="IcnimgSwn"> 
                              <img src="assets/icon/no-addmision.png" />
                        </div> 
                        <p>   Discharge within 24 hrs </p>
                    </div>
                </div>

               </div>
            </ng-template>  
          
    
        </owl-carousel-o>
    </div>  

   

</div>
</section>

<section> 
    <div class="AbtClmnvr">
        <div class="container">
            <div class="Swnvr"> 
                  <div class="Ttlemn">
                       <img src="assets/icon/logomnswn.png" />
                       <h2> Winner of Global excellence Award 2019 as best laser centre in North India </h2>
                  </div>
                  <div class="cl12SwnWnSwnAbt">
                      <div class="clswn6Abt"> 
                         <img src="assets/images/homepage_aboutimg.jpg" /> 
                         <div class="Vdeicmnvr VideObtnSec" (click)="this.myVideoFunction('https://www.youtube.com/embed/oSQvBlqogNc?autoplay=1')">
                            <img src="assets/icon/video-icon.png" alt="Vdeo Icon" />
                         </div>
                      </div>
                      <div class="clswn6Abt">
                          <p>
                              Goyal Piles and Laser Centre is one of the most reputed piles Centres in Delhi providing excellent treatment for Piles
                              ,Fissure, Fistula and Pilonidal Sinus since 1989 (Over 30 Year of Experience).
                               Dr. Sushil Goyal has set his foot in the medical industry as one of the most respected and trusted piles doctor in Delhi.
                               We are here to provide world class treatment under the guidance of experienced doctors.
                               Those painful days are gone forever. 
                           </p> 
                          <div class="btnAllNmrl"> 
                              <a mat-list-item [routerLink]="['/about-us']" routerLinkActive="active" class="mainNav-href"> Read More <img src="assets/icon/rghticon.png" /> </a>
                          </div> 
                      </div>
                  </div> 
                  <div class="cl12MnSwvr">
                     
                    <div class="cl4mnSwnTuv">
                        <div class="DntlIccnvr">
                             <img src="assets/icon/iconshare/usda.png" />
                        </div>
                        <small> USFDA </small> 
                        <p> Approved Procedure </p>
                      </div>

                      
                      <div class="cl4mnSwnTuv">
                        <div class="DntlIccnvr">
                             <img src="assets/icon/iconshare/no_cut.png" />
                        </div>
                        <small> No Cuts </small> 
                        <p> No Wounds in Piles Surgery </p>
                      </div>

                      <div class="cl4mnSwnTuv">
                        <div class="DntlIccnvr">
                             <img src="assets/icon/iconshare/same_day.png" />
                        </div>
                        <small> Same day  </small> 
                        <p> Discharge  </p>
                      </div>

                      <div class="cl4mnSwnTuv">
                        <div class="DntlIccnvr">
                             <img src="assets/icon/iconshare/30min.png" />
                        </div>
                        <small> 30 min   </small> 
                        <p> producure  </p>
                      </div>

                      <div class="cl4mnSwnTuv">
                        <div class="DntlIccnvr">
                             <img src="assets/icon/iconshare/insurance.png" />
                        </div>
                        <small> Insurance  </small> 
                        <p> Paperwork Support </p>
                      </div>

                  </div>
            </div>
        </div> 
        <div class="IcnFlmshwb">
             <img src="assets/images/righticon.png"/>
        </div>
    </div>
</section>

<section> 
    <div class="cl12DcmnSwn"> 
        <div class="cl4nmnvrSwn">
             <div class="PrdMnSwbCtmn">
                <h4> Dr. Sushil Goyal </h4> 
                <span> M.B.B.S., F.C.G.P  </span> 
                <small> Ex house Surgeon: Hindu Rao  Hospital, Delhi </small>
                <p> DR. Sushil Goyal has been one of the leading practitioners in the field of piles treatment for more than 20 years. He has successfully treated thousands of patients for piles, fissure and other related diseases.  </p>
                <img src="assets/images/signature.png" /> 
                <div class="ViwPromn">
                   <a href="javascript:void(0);"> View Profile <img src="assets/icon/rghticon.png" /> </a>
                </div>
                <div class="PsmnvrSw">
                    <img src="assets/images/simg.png" /> 
                </div>
             </div>
        </div>
        <div class="cl6mnvrImg">
            <div class="ImgSwnvrDr">
                 <img src="assets/images/doctorimg.png" />
            </div>
            <div class="Vdeicmnvr VideObtnSec" (click)="this.myVideoFunction('https://www.youtube.com/embed/YwtTv1RxgGk?autoplay=1')">
                <img src="assets/icon/video-icon.png" alt="Vdeo Icon" />
             </div>
        </div>
    </div>
</section>

<section>
  
    <div class="LstrmnSrmnVr">
         
        <div class="TtlmnvrSwh">
            <div class="container">
              <h5> Most advanced Laser Treatment </h5> 
              <a mat-list-item [routerLink]="['/treatments']" routerLinkActive="active"> view all treatments <img src="assets/icon/rghticon.png" /> </a>
           </div>
        </div>

        <div class="BckimgSwnmnCmt" style="background-image: url('assets/images/Srvebnner.jpg');">
         
        <div class="container">    
          <div class="cl12SwnmnCt"> 
               
               <div class="cl6mnSrvmn"> 
                   <a mat-list-item [routerLink]="['/treatments-details']" routerLinkActive="active" class="lnkall"></a>
                    <div class="ImgCntTrt">
                        <img src="assets/icon/pile.png" >
                    </div>
                    <div class="CntTrmnvr">
                        <h4> Piles/ hemorrhoids  </h4>
                        <p> Haemorrhoids/Piles or Bawasir are the different names of the same problem. </p> 
                        <a  mat-list-item [routerLink]="['/treatments-details']" routerLinkActive="active"> Know More <img src="assets/icon/rghticon.png"></a>
                    </div>
               </div>

               <div class="cl6mnSrvmn"> 
                <a mat-list-item [routerLink]="['/treatments-details']" routerLinkActive="active" class="lnkall"></a>
                    <div class="ImgCntTrt">
                        <img src="assets/icon/sinus_br.png" >
                    </div>
                    <div class="CntTrmnvr">
                        <h4> Pilonidal Sinus </h4>
                        <p> Haemorrhoids/Piles or Bawasir are the different names of the same problem.</p>
                        <a  mat-list-item [routerLink]="['/treatments-details']"> Know More <img src="assets/icon/rghticon.png"></a>
                    </div>
              </div>

              <div class="cl6mnSrvmn">
                <a mat-list-item [routerLink]="['/treatments-details']" class="lnkall"></a>  
                 <div class="ImgCntTrt">
                    <img src="assets/icon/fistula.png" >
                 </div>
                 <div class="CntTrmnvr">
                    <h4> Anal Fissure </h4>
                    <p> Haemorrhoids/Piles or Bawasir are the different names of the same problem.</p>
                    <a  mat-list-item [routerLink]="['/treatments-details']"> Know More <img src="assets/icon/rghticon.png"></a>
                 </div>
             </div>

             <div class="cl6mnSrvmn"> 
                <a mat-list-item [routerLink]="['/treatments-details']" class="lnkall"></a> 
                <div class="ImgCntTrt">
                   <img src="assets/icon/fisser.png" >
                </div>
                <div class="CntTrmnvr">
                   <h4> Anal Fissure </h4>
                   <p> Haemorrhoids/Piles or Bawasir are the different names of the same problem.</p>
                   <a  mat-list-item [routerLink]="['/treatments-details']"> Know More <img src="assets/icon/rghticon.png"></a>
                </div>
            </div>
        
        </div>
          </div>
       </div> 


       <div class="RctLgerAndTrmnet">
          <div class="container"> 
            <h4> IRC and Laser Treatment  </h4>
           <div class="cla12mndwevrTrt">
              <div class="cl6mnTrtmnvr">
                 <div class="Hdimgvrhdmn">
                   <h5> IRC (Without surgery) </h5>	
                 </div> 
                 <div class="Hdimgvr">
                     <p>Being a non surgical, painless and an OPD procedure it is most preferred treatment by the patients. This product has changed the way of hemorrhoids are treated through out the world.	</p>
                 </div>
                 <div class="Hdimgvr">
                      <p> No pain, No bed rest  </p>
                 </div>

                 <div class="Hdimgvr">
                    <p> Join duty immediately </p>
               </div>

               <div class="Hdimgvr">
                <p> By Lumatec World Class Technology (Made in Germany)	</p>
             </div>

              </div>

              <div class="cl6mnTrtmnvr">
                <div class="Hdimgvrhdmn">
                  <h5> IRC (Without surgery) </h5>	
                </div> 
                <div class="Hdimgvr">
                    <p>Being a non surgical, painless and an OPD procedure it is most preferred treatment by the patients. This product has changed the way of hemorrhoids are treated through out the world.	</p>
                </div>
                <div class="Hdimgvr">
                     <p> No pain, No bed rest  </p>
                </div>

                <div class="Hdimgvr">
                   <p> Join duty immediately </p>
              </div>

              <div class="Hdimgvr">
               <p> By Lumatec World Class Technology (Made in Germany)	</p>
            </div>
            
             </div>
            </div>

           </div>

       </div>



       <div class="ClSwnvrMnSrvmn" style="background-image: url('assets/images/secndSrveimg.png');">
        
             <div class="container">
              <div class="Cslogy"> 
                <h5>Cosmetology </h5> 
                <p> Haemorrhoids/Piles or Bawasir are the different names of the same problem. Piles are engorged blood vessels in Anal area. Approximately 75% of people may have Hemorrhoids / Piles at some point of time in their life. Haemorrhoids are very common in middle-aged person & females also, particularly pregnant women. </p>
                <div  class="ViwPromn">
                    <a  href="javascript:void(0);"> Read More <img src="assets/icon/rghticon.png" />  </a>
                 </div>
               </div>
             </div>
          </div>
    </div>
</section>


<section>
    <div class="StryTellPrt"> 
        <div class="Psabmnvr">
            <img src="assets/icon/quote.png" />
        </div> 
        <div class="container">
            <div class="TtlemnVr">
                <h3>Happy Patient Says</h3>
            </div>
            <div class="StrySldrMn">
                <owl-carousel-o [options]="PatentsSlider">
                   <ng-template carouselSlide> 
                    <div class="item">
                        <div class="SldrMnVr"><img src="assets/images/patients1.jpg" /></div>
                        <div class="StrPsmn">
                            <p>Astha Malik</p>
                        </div>
                        <div class="Vdemnvlt VideObtnSec" (click)="this.myVideoFunction('https://www.youtube.com/embed/oSQvBlqogNc?autoplay=1')">
                            <div class="Vdemn"><img src="assets/icon/video-icon.png" /></div>
                        </div>
                    </div>
                    </ng-template>

                    <ng-template carouselSlide> 
                        <div class="item">
                            <div class="SldrMnVr"><img src="assets/images/patients2.jpg" /></div>
                            <div class="StrPsmn">
                                <p>Varun Gupta</p>
                            </div>
                            <div class="Vdemnvlt VideObtnSec" (click)="this.myVideoFunction('https://www.youtube.com/embed/oSQvBlqogNc?autoplay=1')">
                                <div class="Vdemn"><img src="assets/icon/video-icon.png" /></div>
                            </div>
                        </div>
                    </ng-template>

                    <ng-template carouselSlide> 
                        <div class="item">
                            <div class="SldrMnVr"><img src="assets/images/patients3.jpg" /></div>
                            <div class="StrPsmn">
                                <p>Sarvotam Chauhan</p>
                            </div>
                            <div class="Vdemnvlt VideObtnSec" (click)="this.myVideoFunction('https://www.youtube.com/embed/oSQvBlqogNc?autoplay=1')">
                                <div class="Vdemn"><img src="assets/icon/video-icon.png" /></div>
                            </div>
                        </div>
                    </ng-template>

                    <ng-template carouselSlide> 
                      <div class="item">
                        <div class="SldrMnVr"><img src="assets/images/patients1.jpg" /></div>
                        <div class="StrPsmn">
                            <p>Astha Malik</p>
                        </div>
                        <div class="Vdemnvlt VideObtnSec" (click)="this.myVideoFunction('https://www.youtube.com/embed/oSQvBlqogNc?autoplay=1')">
                            <div class="Vdemn"><img src="assets/icon/video-icon.png" /></div>
                        </div>
                    </div>
                    </ng-template>


                 </owl-carousel-o>   
              </div>
        </div>
    </div>
</section>

<section>
    <div class="GogleRvemnvr">
        <div class="container">      
            <div class="cl12mnvrRevwePge"> 
                  <div class="Lngomnvr"> 
                    <img src="assets/images/google.png" /> 
                    <h4> authentic reviews </h4>
                  </div> 
            </div>
            <div class="SldrRvewPrt"> 
                <owl-carousel-o [options]="ReviewSlidr"> 
                    <ng-template carouselSlide> 
                        <div class="RptmnvrSwn">  
                            <div class="RtiingMnvr">
                            <b> 4.2 </b> <img src="assets/icon/rtingmnvr.png" /><img src="assets/icon/rtingmnvr.png" /> <img src="assets/icon/rtingmnvr.png" /> <img src="assets/icon/rtingmnvr.png" /> 
                            <img src="assets/icon/rtingmnvr.png" />
                            </div>
                            <div class="RvewPrtMnvr">
                                S
                            </div>
                            <p>Experienced and knowledgeable doctor who makes the patient satisfied and also provides a comfort level, advance procedure, highly professional and advanced machines. Highly recommended. 
                                Staff is quite courteous</p>
                            <b> Shweta Bokolia </b>  
                        </div>  
                     </ng-template>
                     <ng-template carouselSlide> 
                        <div class="RptmnvrSwn">  
                            <div class="RtiingMnvr">
                            <b> 4.2 </b> <img src="assets/icon/rtingmnvr.png" /><img src="assets/icon/rtingmnvr.png" /> <img src="assets/icon/rtingmnvr.png" /> <img src="assets/icon/rtingmnvr.png" /> 
                            <img src="assets/icon/rtingmnvr.png" />
                            </div>
                            <div class="RvewPrtMnvr">
                                S
                            </div>
                            <p>Experienced and knowledgeable doctor who makes the patient satisfied and also provides a comfort level, advance procedure, highly professional and advanced machines. Highly recommended. 
                                Staff is quite courteous</p>
                            <b> Shweta Bokolia </b>  
                        </div>  
                     </ng-template>
                </owl-carousel-o>        
            </div>
        </div>
    </div>
</section>

<section>
    <div class="AswrdMnvr"> 
        <div class="container"> 
            <div class="TtleCntmnVr">
                <h4>Awards </h4> 
                <p>Goyal laser centre has been awarded as best laser centre in North India( Global Excellence Awards 2019 ) by Madhuri Dixit.
                   Goyal Piles Care Centre is one of the most reputed piles
                   Centres in Delhi providing excellent treatment for piles and fissures since 1989 (Over 30 Year of Experience).</p>
            </div>
            <div class="SldrAwrdMnvrSwn">
                <owl-carousel-o [options]="AwrdSlider">
                    <ng-template carouselSlide> 
                        <div class="cl12RptmnvrSwn"> 
                            <div class="LogmnAerd">
                                <img src="assets/images/awards1.jpg" />
                            </div>
                            <h5> Board of Medical Education Certificate of Achievement  </h5> 
                            <p>July 20, 2008</p>
                        </div>
                    </ng-template>

                    <ng-template carouselSlide> 
                        <div class="cl12RptmnvrSwn"> 
                            <div class="LogmnAerd">
                                <img src="assets/images/awards2.jpg" />
                            </div>
                            <h5> Sir Ganga Ram Hospital Annual CME-2009 </h5> 
                            <p>Nov 29, 2009</p>
                        </div>
                    </ng-template>

                    <ng-template carouselSlide> 
                        <div class="cl12RptmnvrSwn"> 
                            <div class="LogmnAerd">
                                <img src="assets/images/awards3.jpg" />
                            </div>
                            <h5> IMA Delhi North zone & BLK Cancer Centre Certificate of participation </h5> 
                            <p>Nov 29, 2009</p>
                        </div>
                    </ng-template>

                    <ng-template carouselSlide> 
                        <div class="cl12RptmnvrSwn"> 
                            <div class="LogmnAerd">
                                <img src="assets/images/awards1.jpg" />
                            </div>
                            <h5> Board of Medical Education Certificate of Achievement  </h5> 
                            <p>July 20, 2008</p>
                        </div>
                    </ng-template>

                </owl-carousel-o>        
            </div>
        </div>
    </div>
</section>


<section>
    <div class="Psmn" style="background-image: url('assets/images/ftrbnner.jpg');"></div>
</section>

<section>
    <div class="BookAptmntVr">
        <div class="container">
            <div class="clmvr">
                <div class="vrlin"></div>
                <div class="tilemn">
                    <h4>Book an appointment</h4>
                    <p>Most Advanced Painless laser Treatment for Piles, Fissure, Fistula & Pilonidal Sinus</p>
                </div>
                <div class="Cl12MnVrSwn">
                      <div class="formgrmnPartmn">
                          <div class="FrmcntlMn">
                              <input type="text" name="" class="frmcntl" id=""> 
                              <label>Name </label>
                          </div>
                          <div class="FrmcntlMn">
                            <input type="text" name="" class="frmcntl" id=""> 
                            <label>Phone </label>
                        </div>
                        <div class="nbtncmnApt">
                            <a href="javascript:void(0);"> Submit </a>
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="pop_up_vdo1" [class.ShowVideoPup]="VdeoGlyPup">
    <div class="vdo_onply1 vdo_onply_ad1">
       <div class="cls_vdo1 ClseIfrmSec" (click)="ClseVideoGly()"> <span class="PopBxClsVde"> <img src="assets/icon/close_mn.png"> </span> </div>
       <iframe id="iframe1" class="TstIfrmeSec iframecls" allow="autoplay;" src=""></iframe>
    </div>
 </div>