<section>
    <div class="CntSldrSemnVr">
        <div class="CntSldrimg">
            <img src="assets/images/banner/banner.jpg" />
        </div> 
        <div class="CntUdmnvrMnBlgPmnvr">
            <small>13 Aug, 2021</small>
            <h1> Why Early Intervention in Speech Therapy is Important </h1> 
        </div>
    </div>
</section>

<section>
    <div class="BlgDlcntmnvr">
         
        <div class="container">
            
            <div class="cl12mnswnProdlpge">
                <div class="cl8mnSwnVr">
                   <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                   </p>    
                   <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                   </p>
                   <ul>
                       <li> Lorem Ipsum is simply dummy text of the printing and typesetting industry </li>
                       <li> Lorem Ipsum is simply dummy text of the printing and typesetting industry </li>
                       <li> Lorem Ipsum is simply dummy text of the printing and typesetting industry </li>
                       <li> Lorem Ipsum is simply dummy text of the printing and typesetting industry </li>
                       <li> Lorem Ipsum is simply dummy text of the printing and typesetting industry </li>
                       <li> Lorem Ipsum is simply dummy text of the printing and typesetting industry </li>
                   </ul>
                </div>

                <div class="cl4mnswnvrdl"> 
                    <h4> Category </h4> 
                    <ul>
                        <li> <a href="#"> Piles </a> </li>
                        <li> <a href="#"> Anal Fissure </a> </li>
                        <li> <a href="#"> Anal Fistula </a> </li>
                        <li> <a href="#"> Pilonidal Sinus </a> </li>
                        <li> <a href="#"> Cosmetology </a> </li>
                    </ul>
                </div>
            </div>

        </div>

    </div>
</section>


<section>
   
    <div class="RltdBlgMnvr"> 
     <div class="container">   
      <div class="RldTtlmnvt">
         <h4> Related Blogs </h4> 
      </div>  

      <div class="RltBlgmnvrSwntvr">   
       
    <owl-carousel-o [options]="BlogDtlSldrMnVr">
       <ng-template carouselSlide>   
        <div class="cl4smnvrSvr"> 
            <a mat-list-item [routerLink]="['/blog-details']" class="lnkAll"></a>
             <div class="ProslSwn">
                 <img src="assets/images/treatments/img1.png">
             </div>      
             <div class="BlgNmeVrSwn">
              <div class="SwnClmnVr">  
               <div class="clmnvrSwnTv"> 
                 <h4>3 reasons why RISE, Gurugram is the perfect home for you </h4>
                  <p> In the recent past, Gurugram has grown from being a 
                  quiet, remote locale to a buzzing aspirational... </p>
               </div>
              </div> 
              <div class="BtnDlSwvr"> <a href="#"> Details </a>  </div>
             </div>
       </div>
      </ng-template>
      <ng-template carouselSlide>   
        <div class="cl4smnvrSvr"> 
            <a mat-list-item [routerLink]="['/blog-details']" class="lnkAll"></a>
             <div class="ProslSwn">
                 <img src="assets/images/treatments/img2.jpg">
             </div>      
             <div class="BlgNmeVrSwn">
              <div class="SwnClmnVr">  
               <div class="clmnvrSwnTv"> 
                 <h4>3 reasons why RISE, Gurugram is the perfect home for you </h4>
                  <p> In the recent past, Gurugram has grown from being a 
                  quiet, remote locale to a buzzing aspirational... </p>
               </div>
              </div> 
              <div class="BtnDlSwvr"> <a href="#"> Details </a>  </div>
             </div>
       </div>
      </ng-template>
      <ng-template carouselSlide>   
        <div class="cl4smnvrSvr"> 
            <a mat-list-item [routerLink]="['/blog-details']" class="lnkAll"></a>
             <div class="ProslSwn">
                 <img src="assets/images/treatments/img3.jpg">
             </div>      
             <div class="BlgNmeVrSwn">
              <div class="SwnClmnVr">  
               <div class="clmnvrSwnTv"> 
                 <h4>3 reasons why RISE, Gurugram is the perfect home for you </h4>
                  <p> In the recent past, Gurugram has grown from being a 
                  quiet, remote locale to a buzzing aspirational... </p>
               </div>
              </div> 
              <div class="BtnDlSwvr"> <a href="#"> Details </a>  </div>
             </div>
       </div>
      </ng-template>
      <ng-template carouselSlide>   
        <div class="cl4smnvrSvr"> 
            <a mat-list-item [routerLink]="['/blog-details']" class="lnkAll"></a>
             <div class="ProslSwn">
                 <img src="assets/images/treatments/img4.jpg">
             </div>      
             <div class="BlgNmeVrSwn">
              <div class="SwnClmnVr">  
               <div class="clmnvrSwnTv"> 
                 <h4>3 reasons why RISE, Gurugram is the perfect home for you </h4>
                  <p> In the recent past, Gurugram has grown from being a 
                  quiet, remote locale to a buzzing aspirational... </p>
               </div>
              </div> 
              <div class="BtnDlSwvr"> <a href="#"> Details </a>  </div>
             </div>
       </div>
      </ng-template>
    </owl-carousel-o>  
    </div>
   </div>
    </div>

</section>
